<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styleEJS.css">
        <title> PArt</title>
    </head>
    <body>
        <div class="element"></div>
        <div class="buttons">
            <div id="start" onclick="window.location.href='/game'">Начать рисовать</div>
            <div id="about" onclick="window.location.href='/about'">О нас</div>
            <div>Коллекция</div>
            <div id="support" style="
                flex: none;
                width: 16vw;
                height: 2.5vw;
                padding-top: 0.6vw;
                font-size: 1.5vw;
                
            ">Поддержка</div>
        </div>
        <img id="menu" src="/images/menu.png">
        <p id="blok"></p>
        <h2 id="abc">Возможные вопросы</h2>
        <ul class="quest">
            <li>Some information</li>
        </ul>
        <!-- ПОДВАЛ САЙТА --><div>
        <img id="end" src="/images/end.png">
        <div class="info">
            <div>О нас</div>
            <div>Пользовательское соглашение</div>
            <div>8 919 555555028 3204</div>
        </div>
        <div class="links">
            <img src="/images/Discord.svg">
            <img src="/images/Telegram.svg">
            <img src="/images/Vkontakte (VK).svg">
        </div>
    </body>
</html>