<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/styleEJS.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <title> PArt</title>
    </head>
    <body>
        <div class="element"></div>
        <div class="buttons">
            <div id="start" onclick="window.location.href='/game'">Начать рисовать</div>
            <div id="about" onclick="window.location.href='/about'">О нас</div>
            <div id="collection"  onclick="window.location.href='/arts'">Коллекция</div>
            <div id="support" style="
                 flex: none;
    width: 19vw;
    height: 3.2vw;
    font-size: 1.5vw;
                
            ">Поддержка</div>
        </div>
        <!-- <img id="menu" src="/images/menu.png"> -->
        <p id="blok"></p>
        <h2 id="abc">Возможные вопросы</h2>
        <ul class="quest">
            <li>Some information</li>
        </ul>
        <!-- ПОДВАЛ САЙТА -->
        <img id="end" src="/images/end.png">
        <div class="info">
            <div>О нас</div>
            <div>Пользовательское соглашение</div>
            <div>8 919 555555028 3204</div>
        </div>
        <div class="links">
            <img src="/public/images/Discord.svg">
            <img src="/public/images/Telegram.svg">
            <img src="/public/images/Vkontakte (VK).svg">
        </div>
        <div id="menu1">
            <div class="dropl">
              <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-bs-toggle="dropdown">
               <img id="menu" src="/public/images/menu.png">
                 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Menu item 1</a></li>

              </ul>
            </div>
        </div>
    </body>
</html>